In [1]:
import pandas as pd
import re

In [9]:
data = pd.read_csv("phone_number.csv")
data

   PhoneNumber
0   9854632564
1   7854693265
2   2154658963
3   7421369854
4   2351546985
5   7985'63215
6   8653236563
7   4521369854
8   985632/123
9   7412369854
10  6548963521
11  8523697]12
12  9845632569
13  7123698524
14  74125;0564
15  4123654622
16  85620.3963
17  236587\412
18  231568967*
19  987456329/
20  745123698+
21  653269-874
22  213654+985
23  4521698563
24  9874521'63
25  8521369874
26  8456987458
27  7452169863
28  5698742563
29  9865321456

In [12]:
def getValidPhoneNumbers(phoneNumber):
    return re.findall(r"[7-9][0-9]{9}$",phoneNumber)

In [13]:
data["PhoneNumber"].apply(lambda x: getValidPhoneNumbers(x))

0     [9854632564]
1     [7854693265]
2               []
3     [7421369854]
4               []
5               []
6     [8653236563]
7               []
8               []
9     [7412369854]
10              []
11              []
12    [9845632569]
13    [7123698524]
14              []
15              []
16              []
17              []
18              []
19              []
20              []
21              []
22              []
23              []
24              []
25    [8521369874]
26    [8456987458]
27    [7452169863]
28              []
29    [9865321456]
Name: PhoneNumber, dtype: object